<%= form_for cf_group, url: cf_groups_path do |f| %>
  <div>
    <%= f.label :name, "그룹명" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :custom_field_id, "연결할 사용자 정의 필드" %><br>
    <%= f.select :custom_field_id,
                 options_from_collection_for_select(custom_fields, :id, :name, cf_group.custom_field_id),
                 { prompt: '선택하세요' },
                 onchange: "window.location='?custom_field_id=' + this.value;" %>
  </div>

  <% if values.present? %>
    <div>
      <%= f.label :group_values, "그룹 멤버 (List 아이템 선택)" %><br>
      <%= f.select :group_values,
                   options_for_select(values, cf_group.group_values),
                   {},
                   multiple: true, size: 8, class: 'group-values-select' %>
    </div>
  <% end %>

  <div>
    <%= f.submit "저장" %>
  </div>
<% end %>

